.layout{
    display: flex;
    flex-direction: column;
    height: 100%;

    & &__content{
        flex-grow: 1;
        padding: var(--eight-spaces);
        overflow-x: hidden;
    }

    & &__menu{
        display: block;
        height: 100%;
        width: 100%;
    }

    &__header{
        z-index: 4;
    }
}
