@use "/src/mixins";

.products{
    display: flex;
    flex-direction: column;
    row-gap: var(--eight-spaces);

    & &__field{
        @include mixins.fix-width(350px);
    }

    &__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: var(--two-spaces);
    }

    &__column-quantity{
        font-weight: bold;

        &.products__column-quantity--few{
            color: var(--red-color);
        }
    }
}
