@use "src/mixins";

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;

    &.button--loading{
        .button__label, .button__icon{
            visibility: hidden;
        }

        .button__loading{
            @include mixins.force-center();

            margin: 0;
        }
    }

    & &__icon{
        @include mixins.set-icon-size(20px);
    }

    ::ng-deep .mat-button-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: var(--one-space);
    }
}
