<ng-container *ngIf="buttonOperation.BUTTON === operation">
    <button [disabled]="isDisabled"
            (click)="inClick.next()"
            [type]="type"
            [color]="color"
            [attr.aria-label]="label"
            [class]="classes"
            *ngIf="layout === buttonLayout.RAISED"
            mat-raised-button>
        <ng-container *ngTemplateOutlet="labelTemplate"></ng-container>
        <ng-container *ngTemplateOutlet="loadingTemplate"></ng-container>
    </button>

    <button [disabled]="isDisabled"
            (click)="inClick.next()"
            [type]="type"
            [color]="color"
            [attr.aria-label]="label"
            [class]="classes"
            *ngIf="layout === buttonLayout.STROKED"
            mat-stroked-button>
        <ng-container *ngTemplateOutlet="labelTemplate"></ng-container>
        <ng-container *ngTemplateOutlet="loadingTemplate"></ng-container>
    </button>

    <button [disabled]="isDisabled"
            (click)="inClick.next()"
            [type]="type"
            [color]="color"
            [attr.aria-label]="label"
            [class]="classes"
            *ngIf="layout === buttonLayout.FLAT"
            mat-flat-button>
        <ng-container *ngTemplateOutlet="labelTemplate"></ng-container>
        <ng-container *ngTemplateOutlet="loadingTemplate"></ng-container>
    </button>

    <button [disabled]="isDisabled"
            (click)="inClick.next()"
            [type]="type"
            [color]="color"
            [attr.aria-label]="label"
            [class]="classes"
            [matTooltip]="label"
            *ngIf="layout === buttonLayout.ICON"
            mat-icon-button>
        <ng-container *ngTemplateOutlet="iconTemplate"></ng-container>
        <ng-container *ngTemplateOutlet="loadingTemplate"></ng-container>
    </button>
</ng-container>

<ng-container *ngIf="buttonOperation.LINK === operation">
    <a [routerLink]="link"
       [color]="color"
       [attr.aria-label]="label"
       [class]="classes"
       *ngIf="layout === buttonLayout.RAISED"
       mat-raised-button>
        <ng-container *ngTemplateOutlet="labelTemplate"></ng-container>
        <ng-container *ngTemplateOutlet="loadingTemplate"></ng-container>
    </a>

    <a [routerLink]="link"
       [color]="color"
       [attr.aria-label]="label"
       [class]="classes"
       [matTooltip]="label"
       *ngIf="layout === buttonLayout.ICON"
       mat-icon-button>
        <ng-container *ngTemplateOutlet="iconTemplate"></ng-container>
        <ng-container *ngTemplateOutlet="loadingTemplate"></ng-container>
    </a>
</ng-container>

<ng-template #loadingTemplate>
    <mat-spinner *ngIf="loading"
                 class="button__loading"
                 strokeWidth="2"
                 diameter="20"
                 aria-label="Carregando"
                 [color]="loadingColor">
    </mat-spinner>
</ng-template>

<ng-template #labelTemplate>
    <ng-container *ngTemplateOutlet="iconTemplate"></ng-container>
    <span class="button__label">{{ label }}</span>
</ng-template>

<ng-template #iconTemplate>
    <mat-icon *ngIf="icon" class="button__icon" aria-hidden="true">{{ icon }}</mat-icon>
</ng-template>
