<app-form [form]="form" (formSubmit)="submit()" class="users-change-password">
    <app-dialog primaryTitle="Senha" secondaryTitle="Alterar senha" text="Aqui você pode garantir a segurança da sua conta alterando a senha.">
        <app-input [form]="form"
                   class="users-change-password__space-top"
                   [autofocus]="true"
                   label="Nova senha"
                   [maxlength]="formConstants.PASSWORD_MAXLENGTH"
                   [minlength]="formConstants.PASSWORD_MINLENGTH"
                   name="userPassword"
                   placeholder="Coloque a nova senha"
                   [required]="true"
                   [isPassword]="true"
                   [inputType]="inputType.PASSWORD">
        </app-input>
        <app-input [form]="form"
                   label="Repetir nova senha"
                   [maxlength]="formConstants.PASSWORD_MAXLENGTH"
                   [minlength]="formConstants.PASSWORD_MINLENGTH"
                   name="userPasswordConfirmation"
                   placeholder="Coloque a repetição da nova senha"
                   [required]="true"
                   [isPassword]="true"
                   [inputType]="inputType.PASSWORD">
        </app-input>
        <app-button [layout]="buttonLayout.FLAT"
                    dialog-action
                    [loading]="submitting"
                    [disabled]="form.invalid | formInvalid: form.pristine"
                    [type]="buttonType.SUBMIT"
                    label="Alterar para nova senha">
        </app-button>
    </app-dialog>
</app-form>
