<app-form [form]="form" (formSubmit)="submit()" class="users-change-password">
    <app-dialog primaryTitle="Senha" [hasClose]="hasClose" [secondaryTitle]="secondaryTitle" [text]="text">
        <app-input [form]="form"
                   class="users-change-password__space-top"
                   [id]="inputPasswordId"
                   label="Nova senha"
                   [maxlength]="formConstants.PASSWORD_MAXLENGTH"
                   [minlength]="formConstants.PASSWORD_MINLENGTH"
                   name="userPassword"
                   placeholder="Coloque a nova senha"
                   [required]="true"
                   [isPassword]="true"
                   [inputType]="inputType.PASSWORD">
        </app-input>
        <app-input [form]="form"
                   [label]="passwordConfirmationLabels.label"
                   [maxlength]="formConstants.PASSWORD_MAXLENGTH"
                   [minlength]="formConstants.PASSWORD_MINLENGTH"
                   name="userPasswordConfirmation"
                   [placeholder]="passwordConfirmationLabels.placeholder"
                   [required]="true"
                   [isPassword]="true"
                   [inputType]="inputType.PASSWORD">
        </app-input>
        <app-button [layout]="buttonLayout.FLAT"
                    dialog-action
                    [loading]="submitting"
                    [disabled]="form.invalid | formInvalid: form.pristine"
                    [type]="buttonType.SUBMIT"
                    [label]="buttonText">
        </app-button>
    </app-dialog>
</app-form>
