.menu{
    display: block;
    height: 100%;
    width: 100%;

    &, & &__side{
        background-color: var(--white-color);
    }

    & &__logo{
        max-width: 165px;
        width: 100%;
        margin: 0 auto;
    }

    & &__side{
        max-width: 246px;
        width: 100%;
        border-right: var(--grey-border);
        overflow-y: auto;
    }

    & &__list{
        flex-grow: 1;
    }

    & &__list, & &__side-container{
        display: flex;
        flex-direction: column;
        row-gap: var(--two-spaces);
    }

    & &__side-container{
        height: calc(100% - (var(--two-spaces) * 2));
        margin: var(--two-spaces);
    }

    & &__break-line{
        width: calc(100% + (var(--two-spaces) * 2));
        left: calc(var(--two-spaces) * -1);
        position: relative;
    }

    & &__support{
        ::ng-deep .button{
            width: 100%;
        }
    }
}
