<mat-drawer-container class="menu" [hasBackdrop]="false">
    <mat-drawer class="menu__side" #drawer [opened]="true" mode="side">
        <div class="menu__side-container">
            <ul class="menu__list">
                <li *ngFor="let item of items">
                    <app-menu-link [href]="item.href" [text]="item.text" [icon]="item.icon"></app-menu-link>
                </li>
            </ul>

            <app-break-line class="menu__break-line"></app-break-line>
            <img class="menu__logo" src="./assets/images/logo.png" alt="Logo do Casulo Social">
            <app-break-line class="menu__break-line"></app-break-line>
            <app-button class="menu__support" [disabled]="true" icon="headset_mic" [layout]="buttonLayout.STROKED" label="Suporte"></app-button>
            <app-break-line class="menu__break-line"></app-break-line>
            <app-developed-by></app-developed-by>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <ng-content></ng-content>
    </mat-drawer-content>
</mat-drawer-container>
