<div class="inputs-outputs-save">
    <app-form *ngIf="!loading; else loadingTemplate" [form]="form" (formSubmit)="submit()" formTitle="Editar entrada">
        <div class="inputs-outputs-save__grid">
            <app-autocomplete [form]="form"
                              class="inputs-outputs-save__half-column-left"
                              name="productId"
                              label="Produto"
                              [hint]="canNotEditControlHint"
                              placeholder="Selecione um produto"
                              [options]="productOptions">
            </app-autocomplete>

            <app-input [form]="form"
                       label="Quantidade unitária"
                       class="inputs-outputs-save__half-column-right"
                       [inputType]="inputType.NUMBER"
                       [inputMode]="inputMode.NUMERIC"
                       [min]="formConstants.INPUT_OUTPUT_MIN_QUANTITY"
                       [max]="formConstants.INPUT_OUTPUT_MAX_QUANTITY"
                       [hint]="canNotEditControlHint"
                       name="productQuantity"
                       placeholder="Coloque a quantidade unitária">
            </app-input>

            <div class="inputs-outputs-save__grid inputs-outputs-save__half-column-left">
                <app-checkbox name="isDonation"
                              class="inputs-outputs-save__half-column-left"
                              [form]="form"
                              label="É doação">
                </app-checkbox>
                <app-input [required]="isRequiredUnitPrice"
                           class="inputs-outputs-save__half-column-right"
                           label="Preço do produto unitário"
                           placeholder="Coloque o preço do produto unitário"
                           name="unitPrice"
                           [layout]="inputLayout.CURRENCY"
                           [min]="formConstants.UNIT_PRICE_MIN"
                           [max]="formConstants.UNIT_PRICE_MAX"
                           [form]="form">
                </app-input>
                <app-checkbox name="enteredSameDateAsCreated"
                              class="inputs-outputs-save__half-column-left"
                              [form]="form"
                              [disabled]="enteredSameDateAsCreatedDisabled"
                              [label]="enteredSameDateAsCreatedLabel">
                </app-checkbox>
                <app-date-picker label="Data de entrada"
                                 class="inputs-outputs-save__half-column-right"
                                 [form]="form"
                                 name="dtEntered"
                                 [hint]="canNotEditControlHint"
                                 placeholder="Coloque a data de entrada">
                </app-date-picker>
                <app-checkbox name="hasProductExpiration"
                              class="inputs-outputs-save__full-column"
                              [form]="form"
                              label="Esse produto tem validade">
                </app-checkbox>
            </div>

            <app-text-area name="inputDescription"
                           class="inputs-outputs-save__half-column-right"
                           label="Descrição"
                           [rows]="formConstants.DESCRIPTION_ROWS"
                           [form]="form"
                           [maxlength]="formConstants.INPUT_DESCRIPTION_MAXLENGTH"
                           placeholder="Coloque a descrição">
            </app-text-area>

            <div class="inputs-outputs-save__actions">
                <app-button [link]="[path.DEFAULT, path.INPUTS_OUTPUTS]"
                            [operation]="buttonOperation.LINK"
                            [layout]="buttonLayout.STROKED"
                            [color]="colorPalette.SECONDARY"
                            label="Voltar">
                </app-button>
                <app-button [type]="buttonType.SUBMIT"
                            [loading]="submitting"
                            [disabled]="form.invalid | formInvalid: form.pristine"
                            label="Salvar entrada">
                </app-button>
            </div>
        </div>
    </app-form>

    <ng-template #loadingTemplate>
        <app-content-loading></app-content-loading>
    </ng-template>
</div>
