@use "/src/mixins";

.users{
    display: flex;
    flex-direction: column;
    row-gap: var(--eight-spaces);

    & &__field{
        @include mixins.fix-width(300px);
    }

    &__list{
        display: flex;
        flex-direction: column;
        row-gap: var(--two-spaces);
        align-items: center;
    }
}
