<div class="users">
    <app-highlight-page highlightTitle="Lista de usuários">
        <app-button [link]="path.NEW_USER"
                    [operation]="buttonOperation.LINK"
                    icon="add"
                    label="Novo usuário">
        </app-button>
    </app-highlight-page>

    <app-filters [form]="form" [disabledSubmit]="loading" (inSubmit)="submitForm()">
        <app-input [form]="form"
                   class="users__field"
                   label="Nome"
                   [autofocus]="true"
                   [maxlength]="formConstants.USER_NAME_MAXLENGTH"
                   name="userName"
                   placeholder="Pesquise pelo nome">
        </app-input>
        <app-input [form]="form"
                   class="users__field"
                   [inputType]="inputType.EMAIL"
                   label="E-mail"
                   [maxlength]="formConstants.EMAIL_MAXLENGTH"
                   name="email"
                   placeholder="Pesquise pelo e-mail">
        </app-input>
    </app-filters>

    <div *ngIf="!loading && list.length; else loadingTemplate" class="users__list">
        <table mat-table [dataSource]="list" [class]="tableService.TABLE_CLASSES">
            <ng-container matColumnDef="userName">
                <th mat-header-cell *matHeaderCellDef>Nome</th>
                <td mat-cell *matCellDef="let element">{{ element.userName }}</td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>E-mail</th>
                <td mat-cell *matCellDef="let element">{{ element.email }}</td>
            </ng-container>

            <ng-container matColumnDef="isAdmin">
                <th mat-header-cell *matHeaderCellDef>É administrador</th>
                <td mat-cell *matCellDef="let element">{{ element.isAdmin | booleanAsNumberToText }}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef aria-label="Ações"></th>
                <td mat-cell *matCellDef="let element">
                    <app-button [operation]="buttonOperation.LINK"
                                [link]="element.userId"
                                icon="edit"
                                [layout]="buttonLayout.ICON"
                                label="Editar usuário">
                    </app-button>
                    <app-button *ngIf="element.isAdmin !== booleanAsNumber.TRUE"
                                (inClick)="delete(element.userId)"
                                [color]="colorPalette.ERROR"
                                [loading]="userIdThatIsDeleting === element.userId"
                                [disabled]="!!userIdThatIsDeleting && userIdThatIsDeleting !== element.userId"
                                icon="delete"
                                [layout]="buttonLayout.ICON"
                                label="Deletar usuário">
                    </app-button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        </table>

        <app-button *ngIf="list | hasShowMore: count"
                    [loading]="showMoreLoading"
                    (inClick)="showMore()"
                    icon="cached"
                    [layout]="buttonLayout.STROKED"
                    label="Carregar mais">
        </app-button>
    </div>

    <ng-template #loadingTemplate>
        <app-content-loading *ngIf="loading; else emptyStateTemplate"></app-content-loading>
    </ng-template>

    <ng-template #emptyStateTemplate>
        <app-empty-state></app-empty-state>
    </ng-template>
</div>
