@use "/src/mixins";

.filters{
    display: flex;
    flex-direction: column;
    row-gap: var(--two-spaces);

    & &__content{
        display: flex;
        column-gap: var(--two-spaces);
    }

    & &__title{
        font-size: 1rem;
        font-weight: 500;
    }

    ::ng-deep{
        .button{
            @include mixins.fix-height(var(--mat-control-height));
        }
    }
}
