@use "src/mixins";

.form{
    &, & &__fieldset{
        width: 100%;
        display: block;
    }

    & &__legend{
        margin-bottom: var(--six-spaces);

        @include mixins.title-page-style;
    }
}
