.content-loading{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: var(--two-spaces);
    flex-direction: column;

    & &__text{
        line-height: 1.375;
        font-size: 1rem;
    }
}
