.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    > *{
        padding: var(--three-spaces);
        flex-basis: 50%;
        width: 100%;
        height: inherit;
        display: inherit;
        justify-content: inherit;
        align-items: inherit;
    }

    & &__banner{
        background-color: var(--primary-color);
    }

    & &__logo{
        width: 100%;
        max-width: 426px;
        border-radius: var(--one-space);
    }

    & &__enter{
        display: flex;
        flex-direction: column;
    }

    & &__title{
        font-weight: 600;
        font-size: 2.5rem;
        text-decoration: none;
        margin-top: var(--twenty-spaces);
    }

    & &__form{
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 560px;
        margin: calc(var(--twenty-five-spaces) * -1) auto 0 auto;
    }

    & &__form-content{
        display: flex;
        flex-direction: column;
        row-gap: var(--two-spaces);
    }

    & &__developed-by{
        display: block;
        align-self: flex-start;
    }

    & &__submit{
        align-self: flex-end;
    }
}
