@use './variables';
@use './mixins';

@import "./theme";
@import "~reset-css/reset.css";

html, body{
    font-family: 'Inter', 'Helvetica Neue', sans-serif;
    background-color: var(--white-color);
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    margin: 0;
}

html, body, .mat-drawer-container{
    color: var(--black-color);
}

html, body, app-root, .app{
    min-height: 100vh;
    height: 100%;
    display: block;
    overflow-x: hidden;
}

.app > *:not(router-outlet):not(app-full-loading){
    height: inherit;
    display: inherit;
}

*{
    box-sizing: border-box;
}

a {
    text-decoration: underline;
}

::-moz-selection {
    @include mixins.selection;
}

::selection {
    @include mixins.selection;
}

.w-100{
    width: 100%;
}

.mat-table-border{
    border: var(--mat-grey-border);
}

.mat-menu-panel {
    .mat-menu-content, .mat-menu-content:not(:empty){
        padding-top: 0;
        padding-bottom: 0;
    }
}

th.mat-header-cell{
    font-weight: 600;
}

mat-row, mat-header-row, mat-footer-row, th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
    vertical-align: middle;
    font-size: 1rem;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper{
    margin: 0 !important;
}
