@use './variables';
@use './mixins';

@import "./theme";
@import "~reset-css/reset.css";

html, body{
    font-family: 'Inter', 'Helvetica Neue', sans-serif;
    background-color: var(--white-color);
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    margin: 0;
}

html, body, .mat-drawer-container{
    color: var(--black-color);
}

html, body, app-root, .app{
    min-height: 100vh;
    height: 100%;
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
}

.app > *:not(router-outlet):not(app-full-loading){
    height: inherit;
    display: inherit;
}

*{
    box-sizing: border-box;

    &:not(.mat-drawer-content){
        @include mixins.pretty-scroll;
    }
}

a {
    text-decoration: underline;
    color: var(--primary-color);
}

::-moz-selection {
    @include mixins.selection;
}

::selection {
    @include mixins.selection;
}

.w-100{
    width: 100%;
}

.mat-table-border{
    border: var(--mat-grey-border);
}

.mat-menu-panel {
    .mat-menu-content, .mat-menu-content:not(:empty){
        padding-top: 0;
        padding-bottom: 0;
    }
}

th.mat-header-cell{
    font-weight: 600;
}

mat-row, mat-header-row, mat-footer-row, th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
    vertical-align: middle;
    font-size: 1rem;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper{
    margin: 0 !important;
}

.mat-drawer-content{
    overflow-y: auto;
    overflow-x: hidden;

    @include mixins.fix-height(calc(100vh - var(--header-height)))
}

.mat-header-cell.cdk-header-cell.cdk-column-actions.mat-column-actions{
    visibility: hidden;
    padding-right: 0;
}

.mat-cell.cdk-cell.cdk-column-actions.mat-column-actions{
    text-align: right;
    padding-right: var(--two-spaces);

    > * {
        width: fit-content;
        display: inline-block;
        margin: auto 0 auto auto;

        &:not(:first-child){
            margin-left: var(--two-spaces);
        }
    }
}

.cdk-overlay-container{
    .cdk-global-overlay-wrapper{
        overflow-y: auto;
    }

    .mat-dialog-container, .mat-dialog-content, .mat-dialog-actions, .mat-dialog-title{
        padding: 0;
        margin: 0;
        min-width: 0;
        min-height: 0;
        max-width: initial;
        max-height: initial;
        width: 100%;
        height: fit-content;
        overflow-x: hidden;
        overflow-y: hidden;
    }
}
