@use './variables';
@use './mixins';

@import "./theme";
@import "~reset-css/reset.css";

html, body{
    font-family: 'Inter', 'Helvetica Neue', sans-serif;
    background-color: var(--white-color);
    color: var(--black-color);
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    margin: 0;
}

html, body, app-root, .app{
    min-height: 100vh;
    height: 100%;
    display: block;
    overflow-x: hidden;
}

.app > *:not(router-outlet){
    height: inherit;
    display: inherit;
}

*{
    box-sizing: border-box;
}

a {
    text-decoration: underline;
}

::-moz-selection {
    @include mixins.selection;
}

::selection {
    @include mixins.selection;
}
