:root{
    --white-color: #fff;
    --black-color: #000;
    --primary-color: #0060a8;
    --grey-color: #aaa;
    --red-color: #fb181f;
    --one-space: 4px;
    --two-spaces: calc(var(--one-space) * 2);
    --three-spaces: calc(var(--one-space) * 3);
}
