:root{
    --white-color: #fff;
    --black-color: #000;
    --primary-color: #0060a8;
    --primary-rgb-color: 0, 96, 168;
    --primary-color-36-percent: rgba(var(--primary-rgb-color), .36);
    --primary-color-12-percent: rgba(var(--primary-rgb-color), .12);
    --green-color: #14d204;
    --orange-color: #ff8a00;
    --secondary-color: #fab429;
    --grey-color: #aaa;
    --mat-grey-color: rgba(0, 0, 0, .12);
    --red-color: #fb181f;
    --border: 1px solid;
    --grey-border: var(--border) var(--grey-color);
    --mat-grey-border: var(--border) var(--mat-grey-color);
    --time-to-transition: 200ms;
    --header-height: 60px;
    --mat-input-horizontal-space: .75em;
    --mat-horizontal-column-padding: 24px;
    --one-space: 4px;
    --two-spaces: calc(var(--one-space) * 2);
    --three-spaces: calc(var(--one-space) * 3);
    --four-spaces: calc(var(--one-space) * 4);
    --six-spaces: calc(var(--one-space) * 6);
    --eight-spaces: calc(var(--one-space) * 8);
    --twenty-spaces: calc(var(--one-space) * 20);
    --twenty-five-spaces: calc(var(--one-space) * 25);
}
